
/*@import 'fonts.css';*/
div.printable-area-box {
    margin-top: -2px;
    background: transparent;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 0;
    color: #fff
}

div.printable-area-box, div.printable-area-toolbar {
    position: absolute;
    box-sizing: content-box;
    margin-left: -2px;
    transition: all .4s ease
}

div.printable-area-toolbar {
    font-size: .7em;
    width: calc(100% + 4px - 20px);
    padding-right: 20px;
    bottom: -2em;
    background-color: #fff;
    height: 2em;
    line-height: 2em
}

.printable-area-toolbar .printable-area-label {
    display: block;
    margin-left: .25em;
    width: calc(100% - .25em);
    overflow: hidden;
    white-space: nowrap
}

div.printable-area-zoom {
    width: 14px;
    height: 14px;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 3px;
    cursor: pointer
}

img.printable-area-zoom-image {
    position: absolute;
    transition: opacity .4s ease
}

.zoom-in {
    cursor: zoom-in
}

.zoom-out {
    cursor: zoom-out
}

.zero-opacity {
    opacity: 0
}

div.printable-area-exclusion {
    position: absolute;
    transition: all .4s ease
}

img.ghost-image {
    background-size: 530px 630px !important;
    display: block;
}

div.image-container {
    float: left;
}

.colorPickSelector {
    border-radius: 5px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}

.colorPickSelector:hover {
    transform: scale(1.1);
}

/*.printable-area-box {*/
/*word-break: break-all;*/
/*}*/

/*-----------------------------------*/
/**
 * Marching ants border
 */
/*@keyframes marching-ants-1 {*/
/*0% {*/
/*background-position: 0 0, 0 100%, 0 0, 100% 0*/
/*}*/
/*to {*/
/*background-position: 16px 0, -16px 100%, 0 -16px, 100% 16px*/
/*}*/
/*}*/

/*.marching-ants {*/
/*transform-origin: 0 0;*/
/*!*box-sizing: border-box;*!*/
/*background-image: linear-gradient(90deg, #ddd 50%, #333 0), linear-gradient(90deg, #ddd 50%, #333 0), linear-gradient(180deg, #ddd 50%, #333 0), linear-gradient(180deg, #ddd 50%, #333 0);*/
/*background-color: transparent;*/

/*!**!*/
/*padding: 1px;*/
/*background-size: 8px 1px, 8px 1px, 1px 8px, 1px 8px;*/
/*background-position: 0 0, 0 100%, 0 0, 100% 0;*/
/*background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;*/
/*animation: marching-ants-1 .7s;*/
/*animation-timing-function: linear;*/
/*animation-iteration-count: infinite;*/
/*animation-play-state: paused*/
/*}*/

/*.marching-ants.marching, .marching-ants:hover {*/
/*animation-play-state: running*/
/*}*/

/*.marching-ants.reverse {*/
/*animation-direction: reverse*/
/*}*/

div.text-element {
    position: absolute;
}

div.edit-box {
    position: absolute;
    white-space: pre-wrap;
    /*transform-origin: 0 0;*/
    /*!*box-sizing: border-box;*!*/
    /*background-image: linear-gradient(90deg, #ddd 50%, #333 0), linear-gradient(90deg, #ddd 50%, #333 0), linear-gradient(180deg, #ddd 50%, #333 0), linear-gradient(180deg, #ddd 50%, #333 0);*/
    /*background-color: transparent;*/
}

/*------------------------handle code start---------------------------------------*/
/*div.handle {*/
/*position: absolute;*/
/*opacity: .8;*/
/*transform: translateX(-50%) translateY(-50%)*/
/*}*/

/*div.handle-noimage {*/
/*box-sizing: border-box;*/
/*border: 1px solid gray;*/
/*background-color: hsla(0, 0%, 100%, .2)*/
/*}*/

/*.drag {*/
/*width: 21px;*/
/*height: 21px;*/
/*background-image: url('https://d1b2zzpxewkr9z.cloudfront.net/images/designer/tool/drag.png');*/
/*position: absolute;*/
/*top: -8px;*/
/*left: -8px;*/
/*cursor: move; !* fallback if grab cursor is unsupported *!*/
/*cursor: grab;*/
/*cursor: -moz-grab;*/
/*cursor: -webkit-grab;*/
/*}*/

/*.rotate {*/
/*width: 21px;*/
/*height: 21px;                                                                                                                            background-image: url('https://d1b2zzpxewkr9z.cloudfront.net/images/designer/tool/rotate.png');*/
/*position: absolute;*/
/*top: -8px;*/
/*right: -30px;*/
/*}*/

/*.scale {*/
/*width: 21px;*/
/*height: 21px;*/
/*background-image: url('https://d1b2zzpxewkr9z.cloudfront.net/images/designer/tool/scale.png');*/
/*position: absolute;*/
/*bottom: -30px;*/
/*right: -30px;*/
/*}*/

/*.delete {*/
/*width: 21px;*/
/*height: 21px;*/
/*background-image: url('https://d1b2zzpxewkr9z.cloudfront.net/images/designer/tool/delete.png');*/
/*position: absolute;*/
/*bottom: -30px;*/
/*left: -8px;*/
/*}*/

/*---------------------------handle code end---------------------------------------*/

/*.ui-rotatable-handle {*/
/*background: url("https://cdn.jsdelivr.net/jquery.ui.rotatable/1.0.1/rotate.png");*/
/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*height: 25px;*/
/*width: 25px;*/
/*position: absolute;*/
/*}*/

/*.ui-rotatable-handle-sw {*/
/*bottom: -27px;*/
/*left: -27px;*/
/*}*/

/*.ui-rotatable-handle-nw {*/
/*top: -27px;*/
/*left: -27px;*/
/*}*/

/*.ui-rotatable-handle-se {*/
/*bottom: -27px;*/
/*right: -27px;*/
/*}*/

/*.ui-rotatable-handle-ne {*/
/*top: -27px;*/
/*right: -27px;*/
/*}*/

